$root-bgColor: #242424;
$root-textColor: #e3e3e3;
$root-linkColor: #646cff;

/* --------- header --------- */

$header-bgColor: #e60012;
$header-textColor: white;
$header-bgColor-detail: #dcdbdb;
$header-textColor-detail: #958889;

/* --------- footer --------- */

$footer-bgColor: black;

/* --------- side-nav --------- */

$sideNav-bgColor: #c4c4c4;
