$root-bgColor: #111111;
// $root-blockColor: #1d1d1d;
$root-textColor: #e3e3e3;
$root-linkColor: #646cff;

$breakpoint-md: 768px;
$breakpoint-xl: 1440px;

/* --------- side-nav --------- */

$sideNav-bgColor: #c4c4c4;
