@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/common' as *;

:root {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--root-text-color);
  background-color: var(--root-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --root-bg-color: #111111;
  --root-brand-color: #e60012;
  --root-block-color: #1d1d1d;

  --root-text-color: #f4f4f4;
  --root-text-color-light: #f4f4f499;

  --root-gap-width: 24px;

  /* --------- main --------- */
  --main-nav-width: 240px;
  --main-header-height: 80px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--root-text-color);
  text-decoration: inherit;
}

body {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#app {
  width: 100%;
  margin: 0 auto;
}

.display-sm {
  display: none;
}

.hidden-sm {
  display: block;
}

@media (max-width: $breakpoint-md) {
  html {
    font-size: 80%;
  }

  .display-sm {
    display: block;
  }

  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: $breakpoint-xl) {
  :root {
    /* --------- main-nav --------- */
    --main-nav-width: 280px;
  }
}

* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgb(from var(--root-text-color) r g b / 10%);

    &:hover {
      background-color: rgb(from var(--root-text-color) r g b / 30%);
    }
  }
}
