#side-nav {
  display: flex;
  flex-direction: column;
  gap: var(--root-gap-width-1);
  height: 100%;

  > h1 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: var(--root-gap-width-3) var(--root-gap-width-0);
    font-size: 1rem;

    > .sorter {
      position: relative;
      margin-left: auto;
      padding: var(--root-gap-width-3) var(--root-gap-width-1);
      border-radius: 9999px;
      background-color: var(--root-bg-color-4);
      font-weight: normal;
      font-size: 0.9em;
      cursor: pointer;

      &:after {
        content: '▾';
      }

      &:hover,
      &.active {
        background-color: var(--root-bg-color-5);
      }

      ul {
        display: none;

        &.active {
          display: block;
        }

        position: absolute;
        right: 0;
        z-index: 1;
        border: 1px solid var(--root-bg-color-4);
        padding: 0;
        border-radius: var(--root-gap-width-3);
        background-color: var(--root-bg-color-2);
        transform: translateY(var(--root-gap-width-2));

        li {
          display: flex;
          gap: var(--root-gap-width-2);
          padding: 0 20px;
          line-height: 40px;

          > span {
            display: inline-block;
            width: 4em;
            white-space: nowrap;
          }

          &:hover {
            background-color: var(--root-bg-color-3);
          }

          &.active {
            &:after {
              content: '√';
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  > ul {
    flex: 1;
    overflow: auto;
    padding: 0 var(--root-gap-width-1);

    &.fade-top {
      mask-image: linear-gradient(to bottom, transparent 0%, black 15%);
    }

    &.fade-bottom {
      mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    }

    &.fade-top.fade-bottom {
      mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
      );
    }

    > li {
      display: flex;
      padding: var(--root-gap-width-2);
      cursor: pointer;
      @include textEllipsis();

      &:hover,
      &.active {
        background-color: var(--root-bg-color-2);
      }

      &.hidden {
        display: none;
      }

      > span {
        &:first-child {
          flex: 1;
          @include textEllipsis();
        }

        &:last-child {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2rem;
          padding: 0 var(--root-gap-width-3);
          border-radius: 9999px;
          background-color: var(--root-bg-color-3);
          font-weight: bold;
          font-size: smaller;
        }
      }
    }
  }
}
