@use '@/styles/variables' as *;
@use '@/styles/mixins.scss' as *;

.commom-grid {
  @include gridAutoFill(
    175px,
    calc(var(--root-gap-width-1) * 2) var(--root-gap-width-0)
  );

  .commom-grid-item {
    > a {
      > img {
        display: block;
        width: 100%;
        aspect-ratio: 1;
        margin-bottom: var(--root-gap-width-2);
        border-radius: var(--root-gap-width-3);
        cursor: pointer;
        @include transition(transform, 0.1s);
      }

      > span {
        @include maxLine();
        cursor: pointer;

        &.text-light {
          @include maxLine(2);
          margin-top: var(--root-gap-width-3);
          font-size: 0.875rem;

          > a {
            color: var(--root-text-color-light);

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &:hover {
      > a {
        > img {
          transform: scale(105%);
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .commom-grid {
    display: block;

    .commom-grid-item {
      > a {
        display: flex;
        align-items: center;

        > img {
          display: inline-block;
          width: 50px;
        }

        > span {
          flex: 1;
          display: block;
          margin: 0 1rem 0.5rem;
        }
      }
    }
  }
}

@media (min-width: #{$breakpoint-md + 1px}) {
  .commom-grid {
    &.flex-mode {
      display: flex;

      .commom-grid-item {
        flex-shrink: 0;
      }
    }
  }
}
