@use '@/styles/variables' as *;
@use '@/styles/mixins.scss' as *;

.list-group {
  margin-bottom: calc(var(--root-gap-width-0) * 2);

  h1 {
    margin: 0;
    margin-bottom: var(--root-gap-width-0);
    font-size: 1.125rem;
  }

  .group-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(175px, 100%), 1fr));
    gap: 32px 24px;

    .content-item {
      > a {
        > img {
          display: block;
          width: 100%;
          aspect-ratio: 1;
          margin-bottom: 8px;
          border-radius: 4px;
          cursor: pointer;
          @include transition(transform, 0.1s);
        }

        > span {
          $maxLine: 3;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          line-clamp: $maxLine;
          -webkit-line-clamp: $maxLine;
          overflow: hidden;
          max-height: calc(1.1rem * $maxLine * 1.5);
          cursor: pointer;
        }
      }

      &:hover {
        > a {
          > img {
            transform: scale(105%);
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .list-group {
    .group-content {
      display: block;

      .content-item {
        > a {
          display: flex;
          align-items: center;

          > img {
            display: inline-block;
            width: 50px;
          }

          > span {
            flex: 1;
            display: block;
            margin: 0 1rem 0.5rem;
          }
        }
      }
    }
  }
}
