@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.switch-view {
  &.grid {
    @include gridAutoFill();
  }

  &.list {
    display: block;

    > .full-row {
      margin: var(--root-gap-width-3) 0;
    }
  }

  &.detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: var(--root-gap-width-0);
  }

  > .full-row {
    grid-column: 1 / -1;
  }
}

@media (max-width: $breakpoint-md) {
  .switch-view {
    &.detail {
      grid-template-columns: 1fr;
      gap: var(--root-gap-width-1);
    }
  }
}
