@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.prefix-text {
  display: flex;
}

.common-detail {
  display: flex;
  overflow: hidden;
  max-height: 999px;
  opacity: 1;
  text-align: left;
  @include transition((max-height, opacity), 0.2s);

  .detail-part {
    margin: 0.5rem 0;
  }

  .detail-image {
    width: 200px;

    > img {
      display: block;
      height: 100px;
      margin: 0 auto;
      cursor: pointer;
    }
  }

  .detail-text {
    flex: 1;
    padding-left: 1rem;

    h1 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1rem;
    }

    .text-main {
      position: relative;
      margin: 0 0 0.5rem;

      small {
        display: inline-block;
        margin-top: 0.5em;
        opacity: 0.4;
        font-size: 0.7em;
      }
    }

    .text-else {
      margin-top: 0;
      opacity: 0.65;
      font-size: 0.8rem;
      color: rgba($root-textColor, 0.8);

      > li {
        display: flex;
        margin: 0 0 0.2rem;
      }
    }
  }

  &.main {
    min-height: 200px;
    margin-bottom: 1rem;

    .detail-image {
      > img {
        width: 200px;
        height: 200px;
      }
    }

    .detail-text {
      padding-left: 2rem;
    }
  }

  &.hidden {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
  }

  &:first-child:has(+ .common-detail) {
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  .common-detail {
    .detail-image {
      display: none;
    }

    .text-else {
      display: none;
    }

    &.main {
      min-height: 90px;

      .detail-image {
        display: block;
        width: initial;

        > img {
          width: 80px;
          height: 80px;
        }
      }

      .detail-text {
        padding-left: 1rem;
      }
    }
  }
}

#detial-main {
  max-width: 992px;
  margin: 4rem auto 3rem;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
  transform: translateY(0.5rem);
}

@media (prefers-color-scheme: light) {
  #detial-main {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  }

  .common-detail {
    .detail-text {
      .text-else {
        color: rgba($root-textColor-light, 0.9);
      }
    }
  }
}

@media (max-width: 767px) {
  #detial-main {
    padding: 1rem;
    box-shadow: none;
  }
}

.load-more {
  height: 1px;
}
