@use '@/styles/mixins.scss' as *;

.list-group {
  h1 {
    margin: 1em 0;
    font-size: 1.1rem;
  }

  .group-content {
    $gap: 16px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: $gap;

    .content-item {
      width: 200px;
      margin: calc($gap / 2);
      border-radius: 8px;

      > a {
        > img {
          display: block;
          width: 200px;
          height: 200px;
          margin-bottom: 8px;
          border-radius: 8px;
          cursor: pointer;
          @include transition(transform, 0.1s);
        }

        > span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          font-size: 1.1rem;
          text-overflow: ellipsis;
          word-break: break-word;
          max-height: calc(1.1rem * 3 * 1.5);
          cursor: pointer;
        }
      }

      &:hover {
        > a {
          > img {
            transform: scale(105%);
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .list-group {
    h1 {
      font-size: smaller;
    }

    .group-content {
      display: block;

      .content-item {
        width: 100%;
        height: 50px;
        text-align: left;

        > a {
          display: flex;
          align-items: center;

          > img {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-bottom: 8px;
            border-radius: 8px;
            cursor: pointer;
          }

          > span {
            flex: 1;
            display: block;
            margin: 0 1rem 0.5rem;
            font-size: 0.9rem;
            @include textEllipsis();
          }
        }
      }
    }
  }
}
