.tabs {
  display: flex;
  margin: 0.5rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);

  .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding: 10px 20px;
    opacity: 0.3;
    font-size: 1rem;
    cursor: pointer;
    @include transition(opacity, 0.2s);

    &.active {
      opacity: 1;
      font-weight: bold;
    }

    &.blank {
      visibility: hidden;
    }
  }
}

.detail {
  padding-top: 0.8rem;
}
