.detail-container {
  @include verticalFlex(var(--root-gap-width-0));

  > .title {
    display: flex;
    gap: var(--root-gap-width-0);

    > img {
      max-width: 200px;
      aspect-ratio: 1;
      border-radius: var(--root-gap-width-3);
      cursor: pointer;
    }

    > div {
      @include verticalFlex(var(--root-gap-width-1));

      h1 {
        @include flexContentCenter();
        gap: var(--root-gap-width-2);

        span {
          display: flex;
        }
      }
    }
  }

  > .detail {
    @include verticalFlex(var(--root-gap-width-1));

    > .switch {
      @include flexContentCenter();
      > div {
        @include flexContentCenter();
        gap: var(--root-gap-width-1);
        margin-left: auto;

        .toggle {
          display: flex;
          padding: var(--root-gap-width-3) var(--root-gap-width-1);
          border-radius: 9999px;
          background-color: var(--root-bg-color-2);
          color: var(--root-text-color-light);
          font-size: 0.875rem;
          cursor: pointer;

          &.active {
            color: var(--root-text-color);
            background-color: var(--root-bg-color-4);
          }

          &:hover {
            background-color: var(--root-bg-color-5);
          }
        }
      }
    }

    hr {
      margin-top: calc(var(--root-gap-width-0) * 2);
    }
  }
}

@media (max-width: $breakpoint-md) {
  .detail-container {
    > .title {
      @include verticalFlex(var(--root-gap-width-2));

      > img {
        width: 200px;
        margin: 0 auto;
      }

      > div {
        @include verticalFlex(var(--root-gap-width-2));

        h1 {
          justify-content: center;
          text-align: center;
          font-size: 1.5rem;
        }

        p {
          text-align: center;
        }
      }
    }
  }
}
