.detail-container {
  @include verticalFlex(var(--root-gap-width-0));

  > .title {
    display: flex;
    gap: var(--root-gap-width-0);

    > img {
      max-width: 240px;
      aspect-ratio: 1;
      border-radius: var(--root-gap-width-3);
      cursor: pointer;
    }

    > div {
      @include verticalFlex(var(--root-gap-width-1));

      h1 {
        @include flexContentCenter();
        gap: var(--root-gap-width-2);

        span {
          display: flex;
        }
      }
    }
  }

  > .detail {
    @include verticalFlex(calc(var(--root-gap-width-0) * 2));

    > .track {
      @include verticalFlex(var(--root-gap-width-1));
    }

    > .playlist {
      @include verticalFlex(var(--root-gap-width-0));
    }
  }

  hr {
    margin-top: calc(var(--root-gap-width-0) * 2);
  }
}

@media (max-width: $breakpoint-md) {
  .detail-container {
    > .title {
      @include verticalFlex(var(--root-gap-width-2));

      > img {
        width: 200px;
        margin: 0 auto;
      }

      > div {
        @include verticalFlex(var(--root-gap-width-2));

        h1 {
          justify-content: center;
          text-align: center;
          font-size: 1.5rem;
        }

        p {
          text-align: center;
        }
      }
    }
  }
}
