$headerHeight: 48px;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  &:last-of-type {
    box-shadow: 0 0 1.5rem 1rem rgba($root-bgColor, 0.7);
  }
}

#header {
  z-index: 2;
  height: $headerHeight;
  padding: 0 1.5rem;
  background-color: $header-bgColor;
  color: $header-textColor;
  opacity: 1;
  font: bold 1rem 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  .brand {
    display: inline-flex;
    background-color: $header-bgColor;
    font-family: Inter, system-ui, -apple-system, sans-serif;
    font-size: 1.05rem;
    line-height: 2em;
    cursor: pointer;

    > img {
      height: 32px;
    }
  }

  button {
    display: none;
  }

  nav {
    margin-left: auto;
    padding: 0 1rem;
    font-size: 0.9rem;

    > a {
      display: inline-block;
      height: $headerHeight;
      border-bottom: 2px solid transparent;
      padding: 0 0.75rem;
      color: white;
      opacity: 0.7;
      @include transition((border-color, opacity));
      line-height: $headerHeight;

      &.active {
        border-color: rgba(white, 0.7);
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

#subHeader {
  height: 2em;
  padding: 0 1em;
  background-color: $header-bgColor-detail;
  color: $header-textColor-detail;
  font-weight: bold;
  text-align: center;
  line-height: 2rem;
  overflow: hidden;
  @include transition((opacity, transform));

  &.active {
    transform: translateY($headerHeight);
  }

  > .app-width {
    justify-content: center;
    flex-wrap: wrap;

    :deep(h1) {
      display: inline-block;
      margin: 0;
      font-size: 0.9rem;
      @include textEllipsis();
    }

    :deep(small) {
      display: inline-block;
      text-indent: 0.5em;
    }
  }
}

.app-width {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  header {
    &:last-of-type {
      box-shadow: 0 0 1.5rem 1rem rgba($root-bgColor-light, 0.7);
    }
  }
}

@media (max-width: 767px) {
  #header {
    padding: 0 1rem;
    box-shadow: none;

    .brand {
      align-items: center;

      > img {
        height: 28px;
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      width: $headerHeight * 0.8;
      height: $headerHeight;
      border: none;
      background-color: transparent;

      &:focus {
        + nav {
          opacity: 0.85;
          transform: translateX(0);
        }
      }
    }

    nav {
      position: fixed;
      top: $headerHeight * 0.75;
      right: 0;
      height: 100%;
      padding: 1rem 0 0;
      background-color: $header-bgColor;
      opacity: 0;
      transform: translateX(100%);
      font-size: 1rem;
      @include transition((opacity, transform));

      > a {
        display: block;
        padding: 0 2rem;
        text-align: left;

        &.active {
          border-bottom: none;
        }
      }
    }
  }

  #subHeader {
    height: $headerHeight + 1px;
    opacity: 0;

    &.active {
      z-index: 2;
      opacity: 1;
      transform: translateY(0);
    }

    > .app-width {
      :deep(h1) {
        font-size: 1rem;
      }
    }
  }
}
