#side-nav {
  @include verticalFlex(var(--root-gap-width-1));
  height: 100%;

  > section {
    @include verticalFlex(var(--root-gap-width-2));
    padding: var(--root-gap-width-3) var(--root-gap-width-0);

    > h1 {
      @include flexContentCenter();
      font-size: 1rem;

      > .sorter {
        position: relative;
        margin-left: auto;
        padding: var(--root-gap-width-3) var(--root-gap-width-1);
        border-radius: 9999px;
        background-color: var(--root-bg-color-4);
        font-weight: normal;
        font-size: 0.9em;
        cursor: pointer;

        &:after {
          content: '▾';
        }

        &.active {
          background-color: var(--root-bg-color-5);
        }

        ul {
          display: none;

          &.active {
            display: block;
          }

          position: absolute;
          right: 0;
          z-index: 1;
          border: 1px solid var(--root-bg-color-4);
          padding: 0;
          border-radius: var(--root-gap-width-3);
          background-color: var(--root-bg-color-2);
          transform: translateY(var(--root-gap-width-2));

          li {
            @include flexContentCenter();
            gap: var(--root-gap-width-2);
            padding: 0 20px;
            line-height: 40px;

            > span {
              display: inline-block;
              width: 4em;
              white-space: nowrap;
            }

            &:hover {
              background-color: var(--root-bg-color-3);
            }

            &.active {
              &:after {
                content: '√';
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    > h2 {
      color: var(--root-text-color-light);
      font-size: 0.875rem;
    }

    > img {
      margin: 0 var(--root-gap-width-0);
      border-radius: var(--root-gap-width-3);
    }

    &:has(h2) {
      > h1 {
        justify-content: center;
        text-align: center;
      }

      > h2 {
        text-align: center;
      }
    }
  }

  > ul {
    flex: 1;
    overflow: auto;
    padding: 0 var(--root-gap-width-1);

    &.fade-top {
      mask-image: linear-gradient(to bottom, transparent 0%, black 15%);
    }

    &.fade-bottom {
      mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    }

    &.fade-top.fade-bottom {
      mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
      );
    }

    > li {
      @include flexContentCenter();
      gap: var(--root-gap-width-3);
      padding: var(--root-gap-width-2);
      cursor: pointer;
      @include textEllipsis();

      > span {
        &:first-child {
          flex: 1;
          @include textEllipsis();
        }

        &.badge {
          width: 2rem;
          font-size: smaller;
        }
      }

      &.active {
        background-color: var(--root-bg-color-2);
      }

      &:hover {
        background-color: var(--root-bg-color-4);

        > span {
          &:last-child {
            background-color: var(--root-bg-color-5);
          }
        }
      }

      &.hidden {
        display: none;
      }
    }
  }
}
